@model ContactVM
@{
    ViewData["Title"] = "Index";
}

<main>
    <div class="header_01 header_inner">
        <div class="header_main">
            <div class="header_btm">
                <h2>Contact Us</h2>
            </div>
        </div>
    </div>
    <div class="only-form-pages">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class=" contact_us">
                        <div class="row ">
                            <div class="col-md-12 col-lg-6 ">
                                <div class="newslatter_outer">
                                    <div>
                                        <h5>Address:</h5>
                                        <ul>
                                            <li>
                                                <i class="fas fa-map-marker-alt"></i>
                                                @Model.Bio.Adress
                                            </li>
                                            <li><a href="tel:#"><i class="fas fa-phone"></i> @Model.Bio.Mobile2 (landline)</a></li>
                                            <li><a href="tel:#"><i class="fas fa-phone"></i> @Model.Bio.Mobile (mobile phone)</a></li>
                                            <li><a href="tel:#"><i class="fas fa-fax"></i> @Model.Bio.Fax (fax)</a></li>
                                        </ul>

                                    </div>
                                </div>
                                <form class="newsletter">
                                    <h5>Newsletter</h5>
                                    <div class="d-flex">
                                        <input class="form-control" type="email">
                                        <input class="btn btn-primary" type="submit" value="Subscribe">
                                    </div>

                                </form>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="only-form-box ">
                                    <form method="post" id="contactForm">
                                        <div class="com_class_form">
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.ContactFromUser.FullName, new { @class = "form-control", @placeholder = "Full Name", @style = "text-align:center" })
                                                <span asp-validation-for="ContactFromUser.FullName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.ContactFromUser.Email, new { @class = "form-control", @placeholder = "Email", @style = "text-align:center" })
                                                <span asp-validation-for="ContactFromUser.Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.ContactFromUser.PhoneNumber, new { @class = "form-control", @placeholder = "Phone Number", @style = "text-align:center" })
                                                <span asp-validation-for="ContactFromUser.PhoneNumber" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.ContactFromUser.Subject, new { @class = "form-control", @placeholder = "Subject", @style = "text-align:center" })
                                                <span asp-validation-for="ContactFromUser.Subject" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.ContactFromUser.Message, new { @class = "form-control", @placeholder = "Message", @style = "text-align:center" })
                                                <span asp-validation-for="ContactFromUser.Message" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <input class="btn btn-primary" onclick="return validateData();" type="submit" id="sendmessage" value="Send">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $("#sendmessage").click(function () {
            Swal.fire(
                'Good job!',
                'You clicked the button!',
                'success'
            )
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#sendmessage").click(function () {
                var data = $("#contactForm");
                $.ajax({
                    type: "POST",
                    url: "/ContactUs/Index",
                    data: data,
                    success: function (response) {
                    }
                })
            })
        })
    </script>
}