@model ContactVM
@{
    ViewData["Title"] = "Index";
}

<main>
    <div class="header_01 header_inner">
        <div class="header_main">
            <div class="header_btm">
                <h2>Contact Us</h2>
            </div>
        </div>
    </div>
    <div class="only-form-pages">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class=" contact_us">
                        <div class="row ">

                            <div class="col-md-12 col-lg-6 ">
                                <div class="newslatter_outer">

                                    <div>
                                        <h5>Address:</h5>
                                        <ul>
                                            <li>
                                                <i class="fas fa-map-marker-alt"></i>
                                                @Model.Bio.Adress
                                            </li>
                                            <li><a href="tel:#"><i class="fas fa-phone"></i> @Model.Bio.Mobile2 (landline)</a></li>
                                            <li><a href="tel:#"><i class="fas fa-phone"></i> @Model.Bio.Mobile (mobile phone)</a></li>
                                            <li><a href="tel:#"><i class="fas fa-fax"></i> @Model.Bio.Fax (fax)</a></li>
                                        </ul>

                                    </div>
                                </div>
                                <form class="newsletter">
                                    <h5>Newsletter</h5>
                                    <div class="d-flex">
                                        <input class="form-control" type="email">
                                        <input class="btn btn-primary" type="submit" value="Subscribe">
                                    </div>

                                </form>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="only-form-box ">
                                    <form method="post">
                                        <div class="com_class_form">
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.ContactFromUser.FullName, new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.ContactFromUser.Email, new { @class = "form-control" })
                                                @*<input class="form-control" asp-for="ContactFromUser.Email" name="email" placeholder="Email">*@
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.ContactFromUser.PhoneNumber, new { @class = "form-control" })
                                                @*<input class="form-control" asp-for="ContactFromUser.PhoneNumber" name="email" placeholder="Number">*@
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.ContactFromUser.Subject, new { @class = "form-control" })
                                                @*<input class="form-control" asp-for="ContactFromUser.Subject" type="text" name="subject" placeholder="Subject">*@
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.ContactFromUser.Message, new { @class = "form-control" })
                                                @*<textarea class="form-control" asp-for="ContactFromUser.Message" name="message" cols="40" rows="3" placeholder="Message"></textarea>*@
                                            </div>
                                            <div class="form-group">
                                                <input class="btn btn-primary" type="submit" value="Send">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
