@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "FindStaff";
}

<input type="hidden" id="hidden" value="userfront" />
<main>
    <div class="header_01 header_inner">
        <div class="header_main">
            <div class="header_btm">
                <h2>Find Staff</h2>
            </div>
        </div>
    </div>
    <div class="job_container">
        <div class="container">
            <div class="row job_main">
                <div class="sidebar">
                    <ul class="user_navigation">
                        <ul id="searchList2" aria-labelledby="messageDropdown">
                            <input type="text" style="border:none" class="form-control" id="input-search2" autocomplete="off" placeholder="Search now" aria-label="search" aria-describedby="search">
                        </ul>
                        <li>
                            <a asp-controller="Users" asp-action="Index">
                                <i class="fas fa-border-all"></i> Job Dashboard
                            </a>
                        </li>
                    </ul>
                    <h5>Organize and Manage</h5>
                    <ul class="user_navigation">
                        <li>
                            <a asp-controller="Users" asp-action="StaredJobs"><i class="fas fa-star"></i> View My Stared Jobs</a>
                        </li>
                    </ul>
                    <h5>Account</h5>
                    <ul class="user_navigation">
                        <li>
                            <a href="emp-edit-profile.html"><i class="fas fa-user"></i> Update My Profile</a>
                        </li>
                        <li>
                            <a href="emp-edit-password.html"><i class="fas fa-key"></i>Change Password</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-power-off"></i> Logout</a>
                        </li>
                    </ul>
                </div>
                <div class=" job_main_right">
                    <div class="row findstaf_section ">
                        @foreach (AppUser user in Model.Take(8))
                        {
                            <div class="col-sm-6">
                                <div class="staffBox">
                                    <div class="staff_img">
                                        @if (user.IsCompany == true)
                                        {
                                            @if (user.Image != null)
                                            {
                                                <a asp-controller="Users" asp-action="CompanyProfile" asp-route-id="@user.Id" class="test"><img alt="" src="~/assets/images/Users/@user.Image"></a>
                                            }
                                            else
                                            {
                                                <a asp-controller="Users" asp-action="CompanyProfile" asp-route-id="@user.Id" class="test"><img alt="" src="~/assets/images/Users/prof.PNG"></a>
                                            }
                                        }
                                        else
                                        {
                                            @if (user.Image != null)
                                            {
                                                <a asp-controller="Users" asp-action="UserProfile" asp-route-id="@user.Id"><img alt="" src="~/assets/images/Users/@user.Image"></a>
                                            }
                                            else
                                            {
                                                <a asp-controller="Users" asp-action="UserProfile" asp-route-id="@user.Id"><img alt="" src="~/assets/images/Users/prof.PNG"></a>
                                            }
                                        }
                                    </div>
                                    <div class="staff_detail">
                                        <a asp-controller="Users" asp-action="UserProfile" asp-route-id="@user.Id"><h3>@user.FullName@*<img alt="" src="~/assets/images/au.svg">*@</h3></a>
                                        <p>@user.JobType</p>
                                        <ul>
                                            <li>
                                                <h6>Location</h6>
                                                <i class="fas fa-map-marker-alt"></i>
                                                <span>@user.Location</span>
                                            </li>
                                            <li>
                                                <h6>Experience</h6>
                                                <i class="fas fa-calendar-check"></i>
                                                <span>@user.TotalExperience Years</span>
                                            </li>
                                            <li>
                                                <h6>Age</h6>
                                                <i class="fas fa-user"></i>
                                                <span>@user.Age</span>
                                            </li>
                                        </ul>
                                        <div class="staffBox_action">
                                            @if (user.IsCompany == true)
                                            {
                                                <a class="btn btn-third" asp-controller="Users" asp-action="CompanyProfile" asp-route-id="@user.Id">View profile</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-third" asp-controller="Users" asp-action="UserProfile" asp-route-id="@user.Id">View profile</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                  
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    @for (int i = 1; i <= ViewBag.PageCount; i++)
                    {
                        if (ViewBag.Page == i)
                        {
                            <li class="page-item disabled"><a class="page-link" href="#">@i</a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" asp-controller="Users" asp-action="FindStaff" asp-route-page="@i">@i</a></li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
</main>
