@model PostJobVM
@{
    ViewData["Title"] = "Index";
}

<main>
    <div class="header_01 header_inner">
        <div class="header_main">
            <div class="header_btm">
                <h2>Job Dashboard</h2>
            </div>
        </div>
    </div>
    <div class="job_container">
        <div class="container">
            <div class="row job_main">
                <div class="sidebar">
                    <ul class="user_navigation">
                        <li class="is-active">
                            <a asp-controller="Users" asp-action="Index">
                                <i class="fas fa-border-all"></i> Job Dashboard
                            </a>
                        </li>
                    </ul>
                    <h5>Organize and Manage</h5>
                    <ul class="user_navigation">
                        <li>
                            <a asp-controller="Users" asp-action="StaredJobs"><i class="fas fa-star"></i> View My Stared Jobs</a>
                        </li>
                        @if (Model.AppUser.IsCompany == true)
                        {
                            <li>
                                <a asp-controller="Users" asp-action="PostJob"><i class="fas fa-paper-plane"></i> Post Job</a>
                            </li>
                            <li>
                                <a asp-controller="Users" asp-action="MyJobList"><i class="far fa-list-alt"></i> My job listings</a>
                            </li>
                        }
                    </ul>
                    <h5>Account</h5>
                    <ul class="user_navigation">
                        <li>
                            <a asp-controller="Users" asp-action="UpdateProfile"><i class="fas fa-user"></i> Update My Profile</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Logout"><i class="fas fa-power-off"></i> Logout</a>
                        </li>
                    </ul>
                </div>
                <div class=" job_main_right">
                    <div class="row job_section">
                        <div class="col-sm-12">
                            <div class="col-md-12">
                                <div class=" job_seekernotifi ondahsboard">
                                    @if (Model.AppUserPostJobs.Count() > 0)
                                    {
                                        <h4>Inbox</h4>
                                        <h6>Star Notifications</h6>
                                        <ul>
                                            @foreach (var star in Model.StareddUser.Take(4))
                                            {
                                                <li>
                                                    @if (star.Image == null)
                                                    {
                                                        <img alt="" src="~/assets/images/Users/prof.PNG">
                                                        <a asp-controller="Users" asp-action="UserProfile" asp-route-id="@star.Id">  @star.FullName stared @star.JobTitle job  contact</a>
                                                    }
                                                    else
                                                    {
                                                        <img alt="" src="~/assets/images/Users/@star.Image">
                                                        <a asp-controller="Users" asp-action="UserProfile" asp-route-id="@star.Id">  @star.FullName stared @star.JobTitle job  contact</a>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                        <h6>Apply Notifications</h6>
                                        <ul>
                                            @foreach (var apply in Model.AppliedUser.Take(4))
                                            {
                                                <li><a asp-controller="Users" asp-action="UserProfile" asp-route-id="@apply.Id">  @apply.FullName applying this job  contact  </a> </li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        <h4>Your Inbox is Empty!</h4>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>