@model PostJob
@{
    ViewData["Title"] = "PostJob";
}

<main>
    <div class="header_01 header_inner">
        <div class="header_main">
            <div class="header_btm">
                <h2>Post a Jobs</h2>
            </div>
        </div>
    </div>
    <div class="job_container">
        <div class="container">
            <div class="row job_main">
                <div class="sidebar">

                    <ul class="user_navigation">
                        <li>
                            <a href="find-staff.html"><i class="fas fa-search"></i> Find Staff </a>
                            <a class="filter_btn" href="#sidebar_filter_option">
                                <i class="fas fa-filter"></i>
                                <i class="fas fa-times"></i>
                            </a>
                        </li>
                        <li>
                            <form id="#sidebar_filter_option" class="filter_option">
                                <div class="form-group">
                                    <label>Select City</label>
                                    <div class="field">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <select class="js-example-basic-single" name="state">
                                            @foreach (var city in ViewBag.City)
                                            {
                                                <option value="@city.Id">@city.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Select Category</label>
                                    <div class="field">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <select class="js-example-basic-single" name="state">
                                            @foreach (var category in ViewBag.JobCategory)
                                            {
                                                <option value="@category.Id">@category.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Salary</label>
                                    <div class="field">
                                        <input type="text" placeholder="e.g. 10k" class="form-control">
                                    </div>
                                </div>
                            </form>
                        </li>
                        <li>
                            <a asp-controller="Users" asp-action="Index">
                                <i class="fas fa-border-all"></i> Job Dashboard
                            </a>
                        </li>
                    </ul>
                    <h5>Organize and Manage</h5>
                    <ul class="user_navigation">
                        <li>
                            <a asp-controller="Users" asp-action="StaredJobs"><i class="fas fa-star"></i> View My Stared Jobs</a>
                        </li>
                    </ul>
                    <h5>Account</h5>
                    <ul class="user_navigation">
                        <li>
                            <a href="emp-edit-profile.html"><i class="fas fa-user"></i> Update My Profile</a>
                        </li>
                        <li>
                            <a href="emp-edit-password.html"><i class="fas fa-key"></i>Change Password</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-power-off"></i> Logout</a>
                        </li>
                    </ul>
                </div>
                <div class=" job_main_right">
                    <div class="row job_section">
                        <div class="col-sm-12">
                            <div class="jm_headings">
                                <h5>Post a job</h5>
                                <a class="btn btn-primary mypbtn" href="compnay-profile-single.html">Company profile</a>
                            </div>
                            <div class="section-divider">
                            </div>
                            <form method="post">
                                <div class="big_form_group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label>Job title</label>
                                                <input asp-for="JobTitle" class="form-control" placeholder="Web Developer">
                                                <span asp-validation-for="JobTitle" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label>Experies Date</label>
                                                <input asp-for="ExpiresDate" class="form-control" placeholder="Experies Date">
                                                <span asp-validation-for="ExpiresDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="big_form_group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Select City</label>
                                                <div class="field">
                                                    <i class="fas fa-map-marker-alt"></i>
                                                    <select asp-for="CityId" class="js-example-basic-single">
                                                        @foreach (var city in ViewBag.City)
                                                        {
                                                            <option value="@city.Id">@city.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                                <span asp-validation-for="City" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label>Select Job Category</label>
                                                <div class="field">
                                                    <i class="fas fa-briefcase"></i>
                                                    <select asp-for="JobCategoryId" class="js-example-basic-single">
                                                        @foreach (var category in ViewBag.JobCategory)
                                                        {
                                                            <option value="@category.Id">@category.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                                <span asp-validation-for="City" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label>Salary</label>
                                                <input asp-for="Salary" class="form-control" placeholder="$1000 - $1500">
                                                <span asp-validation-for="Salary" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label>Required experience</label>
                                                <input asp-for="RequiredExperience" class="form-control" placeholder="5 Years">
                                                <span asp-validation-for="RequiredExperience" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="big_form_group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group ">
                                                <label>Job Description</label>
                                                <textarea asp-for="JobDescription" class="form-control" placeholder="Enter About Job"></textarea>
                                                <span asp-validation-for="JobDescription" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-9 ">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/21.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#JobDescription'))
            .catch(error => {
                console.error(error);
            });
    </script>
}