@model IEnumerable<ContactFromUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int Count = 0;
}
<input type="hidden" id="hidden" value="postjob" />
<div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                User
                            </th>
                            <th>
                                User Email
                            </th>
                            <th>
                                User Phone Number
                            </th>
                            <th>
                                Subject
                            </th>
                            <th>
                                Message
                            </th>
                            <th>
                                Settings
                            </th>
                        </tr>
                    </thead>
                    <tbody style="cursor:pointer">
                        @foreach (ContactFromUser contact in Model)
                        {
                            Count++;
                            <tr>
                                <td>
                                    @Count
                                </td>
                                <td>
                                    @contact.FullName
                                </td>
                                <td>
                                    @contact.Email
                                </td>
                                <td>
                                    @contact.PhoneNumber
                                </td>
                                <td>
                                    @contact.Subject
                                </td>
                                <td>
                                    @contact.Message
                                </td>
                                <td>
                                    <a asp-area="" asp-controller="Users" asp-action="JobDetail" asp-route-id="@contact.Id" target="_blank" class="btn btn-primary">
                                        <i class="mdi mdi-account-card-details"></i>
                                    </a>
                                    @*<a asp-action="Update" asp-route-id="@job.Id" class="btn btn-success">
                                            <i class="mdi mdi-settings"></i>
                                        </a>*@
                                    <a asp-action="Delete" asp-route-id="@contact.Id" class="btn btn-danger">
                                        <i class="mdi mdi-delete"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>