@model HomeVM
@using System.Globalization
@{
    Layout = null;
}
<!doctype html>
<html lang="en">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>JoDice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="~/assets/images/logo-2.png" type="image/gif" sizes="64x64">

    <!-- CSS
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&amp;display=swap&amp;subset=latin-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/all.min.css">
    <link href="~/assets/css/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link href="~/assets/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/color-2.css">
</head>

<body>

    <!-- Header 03
    ================================================== -->
    <header class="header_04">
        <div class="header_main">
            <div class="header_menu fixed-top">
                <div class="container">
                    <div class="header_top">
                        <div class="logo">
                            @if (Model.Bio.Logo.Count() > 0)
                            {
                                <a asp-controller="Home" asp-action="Index">
                                    <img alt="JoDice" class="img-fluid" src="~/assets/images/@Model.Bio.Logo">
                                </a>
                            }
                        </div>
                        <div class="navigation">
                            <nav>
                                <div class="hamburger hamburger--spring js-hamburger ">
                                    <div class="hamburger-box">
                                        <div class="hamburger-inner"></div>
                                    </div>
                                </div>
                                <ul>
                                    <li class="has-sub-menu @*current_page*@ ">
                                        <a asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="has-sub-menu">
                                        <a asp-controller="Users" asp-action="Index">Profile</a>
                                    </li>
                                    <li class="has-sub-menu">
                                        <a asp-controller="Blog" asp-action="Index">Blog</a>
                                    </li>
                                    <li class="has-sub-menu">
                                        <a asp-controller="ContactUs" asp-action="Index">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="ac_nav after_login_ac_nav">
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <!--Not logedin-->
                                    <div class="login_pop">
                                        <button class="btn btn-primary">Login / Sign up <i class="fas fa-caret-down"></i></button>
                                        <div class="login_pop_box">
                                            <span class="twobtn_cont">
                                                <a class=" signjs_btn" asp-controller="Account" asp-action="Register">
                                                    <span>EMPLOYES</span> Sign up
                                                    <i class="far fa-user"></i>
                                                </a>
                                                <a class=" signrs_btn" asp-controller="Account" asp-action="EmployerRegister">
                                                    <span>EMPLOYERS</span>
                                                    Sign up
                                                    <i class="fas fa-landmark"></i>
                                                </a>
                                            </span>
                                            <div>
                                                <span class="member_btn">Already a member?</span>
                                                <a class="lgin_btn btn btn-primary" asp-controller="Account" asp-action="Login">
                                                    Login
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end logedin-->
                                }
                                else
                                {
                                    <!--logedin-->
                                    if (User.IsInRole("Employe"))
                                    {
                                        <div class="login_pop after_login">
                                            <button class="btn btn-primary withdp">
                                                @if (Model.AppUser.Image != null)
                                                {
                                                    <img alt="" src="assets/images/Users/@Model.AppUser.Image">
                                                }
                                                else
                                                {
                                                    <img alt="" src="~/assets/images/Users/prof.PNG">
                                                }
                                                Hi @Model.AppUser.FullName  <i class="fas fa-caret-down"></i>
                                            </button>
                                            <div class="login_pop_box login_pop_box_menu">
                                                <div class="login_pop_box_head">
                                                    <div class=" ">
                                                        @if (Model.AppUser.Image != null)
                                                        {
                                                            <img alt="" src="~/assets/images/Users/@Model.AppUser.Image">
                                                        }
                                                        else
                                                        {
                                                            <img alt="" src="~/assets/images/Users/prof.PNG">
                                                        }
                                                        <span>@Model.AppUser.Location</span>
                                                        <h5>@Model.AppUser.FullName</h5>
                                                        <h6>@Model.AppUser.JobType</h6>
                                                    </div>
                                                </div>
                                                <ul>
                                                    <li>
                                                        <a asp-controller="Users" asp-action="BrowseJobs"><i class="fas fa-search"></i> Browse Jobs </a>
                                                    </li>
                                                    <li>
                                                        <a asp-controller="Users" asp-action="StaredJobs"><i class="fas fa-star"></i> View My Stared Jobs</a>
                                                    </li>
                                                    <li>
                                                        <a asp-controller="Users" asp-action="UpdateProfile"><i class="fas fa-user"></i> Update My Profile</a>
                                                    </li>
                                                    @*<li>
                                                            <a asp-controller="Users" asp-action="ChangePassword"><i class="fas fa-key"></i>Change Password</a>
                                                        </li>*@
                                                    <li>
                                                        <a asp-controller="Account" asp-action="Logout"><i class="fas fa-power-off"></i> Logout</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="login_pop after_login">
                                            <button class="btn btn-primary withdp">
                                                @if (Model.AppUser.Image != null)
                                                {
                                                    <img alt="" src="~/assets/images/Users/@Model.AppUser.Image">
                                                }
                                                else
                                                {
                                                    <img alt="" src="~/assets/images/Users/prof.PNG">
                                                }
                                                @Model.AppUser.CompanyName   <i class="fas fa-caret-down"></i>
                                            </button>
                                            <div class="login_pop_box login_pop_box_menu">
                                                <div class="login_pop_box_head">
                                                    <div class=" ">
                                                        @if (Model.AppUser.Image != null)
                                                        {
                                                            <img alt="" src="~/assets/images/Users/@Model.AppUser.Image">
                                                        }
                                                        else
                                                        {
                                                            <img alt="" src="~/assets/images/Users/prof.PNG">
                                                        }
                                                        <span>@Model.AppUser.Location</span>
                                                        <h5>@Model.AppUser.CompanyName</h5>
                                                        <h6>&nbsp;</h6>
                                                    </div>
                                                </div>
                                                <ul class="user_navigation">
                                                    <li>
                                                        <a asp-controller="Users" asp-action="Index"><i class="fas fa-border-all"></i> Job Dashboard </a>
                                                    </li>
                                                    <li>
                                                        <a asp-controller="Users" asp-action="FindStaff"><i class="fas fa-search"></i> Find Staff </a>
                                                    </li>
                                                    <li>
                                                        <a asp-controller="Users" asp-action="PostJob"><i class="fas fa-paper-plane"></i> Post Job</a>
                                                    </li>
                                                    <li>
                                                        <a asp-controller="Users" asp-action="MyJobList"><i class="far fa-list-alt"></i> My job listings</a>
                                                    </li>
                                                    <li>
                                                        <a asp-controller="Users" asp-action="UpdateProfile"><i class="fas fa-user"></i> Update My Profile</a>
                                                    </li>
                                                    <li>
                                                        <a asp-controller="Users" asp-action="ChangePassword"><i class="fas fa-key"></i>Change Password</a>
                                                    </li>
                                                    <li>
                                                        <a asp-controller="Account" asp-action="Logout"><i class="fas fa-power-off"></i> Logout</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    }
                                    @if (Model.AppUser != null) { }
                                    <div class="login_pop after_login">

                                        <div class="login_pop_box login_pop_box_menu">
                                            <div class="login_pop_box_head">
                                                <div>
                                                    @if (Model.AppUser.Image != null)
                                                    {
                                                        <img alt="" src="~/assets/images/Users/@Model.AppUser.Image">
                                                    }
                                                    else
                                                    {
                                                        <img alt="" src="~/assets/images/Users/prof.PNG">
                                                    }
                                                    <span>@Model.AppUser.Location</span>
                                                    <h5>@Model.AppUser.FullName</h5>
                                                    <h6>@Model.AppUser.JobType</h6>
                                                </div>
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="browse-jobs.html"><i class="fas fa-search"></i> Browse Jobs </a>
                                                </li>
                                                <li>
                                                    <a href="my-stared-jobs.html"><i class="fas fa-star"></i> View My Stared Jobs</a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Users" asp-action="UpdateProfile"><i class="fas fa-user"></i> Update My Profile</a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Users" asp-action="ChangePassword"><i class="fas fa-key"></i>Change Password</a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Account" asp-action="Logout"><i class="fas fa-power-off"></i> Logout</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- End Header 02
    ================================================== -->
    <!-- Main
    ================================================== -->
    <main>
        <div class="section user_type-2 ">
            <div class="container">
                <h2 class="section_h">We are Popular Everywhere</h2>
                <div class="user_type">
                    <div class="row">
                        @if (User.IsInRole("Employer"))
                        {
                            <div class="col-md-6">
                                <div class="user_type_inner  user_type_seeker">
                                    <a asp-controller="Users" asp-action="PostJob">
                                        <div class="usertype_img">
                                            <i class="far fa-user"></i>
                                        </div>
                                        <div>
                                            <h3>I'm looking for a job</h3>
                                            <p>Post CV and apply job you love</p>
                                            <span class="btn btn-rounded btn-primary">Register As Candidate</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <h3 class="ut_or">Or</h3>
                            <div class="col-md-6">
                                <div class="user_type_inner user_type_post">
                                    <a asp-controller="Users" asp-action="BrowseJobs">
                                        <div class="usertype_img">
                                            <i class="fas fa-laptop"></i>
                                        </div>
                                        <div>
                                            <h3>I want to post job</h3>
                                            <p>Post jobs &amp; hire porfessionls</p>
                                            <span class="btn btn-rounded btn-primary">Register As Company</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-12">
                                <div class="user_type_inner user_type_post">
                                    <a asp-controller="Users" asp-action="BrowseJobs">
                                        <div class="usertype_img">
                                            <i class="fas fa-laptop"></i>
                                        </div>
                                        <div>
                                            <h3>I want to post job</h3>
                                            <p>Post jobs &amp; hire porfessionls</p>
                                            <span class="btn btn-rounded btn-primary">Register As Company</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="section category-section-2 gray">
            <div class="container">
                <h2 class="section_h">Popular Job Categories</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="category-how-work-sec">
                            <h4>How it works?</h4>
                            <p>We have easy 3 step process for applying application</p>
                            <ul class="how-work-box">
                                <li>
                                    <div class="hwb-icon">
                                        <i class="fas fa-search"></i>
                                    </div>
                                    <div class="hwb-cont">
                                        <h5>Search jobs</h5>
                                        <p>Search available jobs by category, location and more </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="hwb-icon">
                                        <i class="far fa-file-word"></i>
                                    </div>
                                    <div class="hwb-cont">
                                        <h5>Apply</h5>
                                        <p>Notify employers of your interest with one click!</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="hwb-icon">
                                        <i class="far fa-thumbs-up"></i>
                                    </div>
                                    <div class="hwb-cont">
                                        <h5>Let Employers Find You</h5>
                                        <p>Employers can find you based on your experience and credentials.</p>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            @foreach (PopularJob jobCategories in Model.PopularJobs.OrderByDescending(x => x.Id).Take(8))
                            {
                                <div class="col-md-12">
                                    <div class="category_box">
                                        <div class="cb_header">
                                            <i class="@jobCategories.Image"></i>
                                            <span class="job_count">@jobCategories.DataCount</span>
                                        </div>
                                        <div class="cb_bottom">
                                            <h3>@jobCategories.Title</h3>
                                            <p>@jobCategories.Description &amp; More</p>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="col-md-12 text-right">
                                <a class="btn btn-primary" href="#">
                                    Browse All Jobs <i class="fas fa-long-arrow-alt-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="category-section-stickyBg"></div>
        </div>
        @if (Model.PostJobs.Count() > 0)
        {
            <div class="section featured_section">
                <div class="container">
                    <h2 class="section_h">Featured Jobs</h2>
                    <div class="row full_width featured_box_outer">
                        @foreach (PostJob job in Model.PostJobs.Take(6))
                        {
                            var minutePassed = (int)(DateTime.Now - job.CreateTime).TotalMinutes;
                            var hoursPassed = (int)(DateTime.Now - job.CreateTime).TotalHours;
                            var daysPassed = (int)(DateTime.Now - job.CreateTime).TotalDays;

                            <div class="col-sm-12">
                                <div class="featured_box ">
                                    <div class="fb_image">
                                        @if (job.Image != null)
                                        {
                                            <img alt="" src="~/assets/images/Users/@job.Image">
                                        }
                                        else
                                        {
                                            <img alt="" src="~/assets/images/Users/prof.PNG">
                                        }
                                    </div>
                                    <div class='fb_content'>
                                        <h4>
                                            <a asp-controller="Users" asp-action="JobDetail" asp-route-id="@job.Id">@job.JobTitle</a>
                                        </h4>
                                        <ul>
                                            <li>
                                                <a asp-controller="Users" asp-action="CompanyProfile" asp-route-id="@job.AppUser.Id">
                                                    <i class="fas fa-landmark"></i>
                                                    @job.AppUser.FullName
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fas fa-map-marker-alt"></i>
                                                    @job.City.Name
                                                </a>
                                            </li>
                                            @if (minutePassed < 60)
                                            {
                                                <li>
                                                    <a href="#">
                                                        <i class="far fa-clock"></i>
                                                        @minutePassed minutes ago
                                                    </a>
                                                </li>
                                            }
                                            else if (hoursPassed < 24)
                                            {
                                                <li>
                                                    <a href="#">
                                                        <i class="far fa-clock"></i>
                                                        @hoursPassed hours ago
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="#">
                                                        <i class="far fa-clock"></i>
                                                        @daysPassed days ago
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>

                                    <div class="fb_action">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            @if (Model.AppUser.IsCompany == false)
                                            {
                                                @if (job.AppUserPostJobs.Where(x => x.AppendUserId == Model.AppUser.Id).Any(x => x.IsFavorite == true))
                                                {
                                                    <a title="add to favourite" asp-controller="Home" asp-action="RemoveFavorite" asp-route-id="@job.AppUserPostJobs.FirstOrDefault().Id">
                                                        <i class="fas fa-star"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a title="add to favourite" asp-controller="Home" asp-action="AddToFavorite" asp-route-id="@job.Id">
                                                        <i class="far fa-star"></i>
                                                    </a>
                                                }
                                                if (job.AppUserPostJobs.Where(x => x.AppendUserId == Model.AppUser.Id).Any(x => x.IsContacted == true))
                                                {
                                                    <a class="btn btn-third disabled" href="job-single.html">Applied</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-third" asp-controller="Home" asp-action="AddApply" asp-route-id="@job.Id">Apply Now</a>
                                                }
                                            }

                                        }
                                        else
                                        {
                                            <a title="add to favourite" asp-controller="Home" asp-action="AddToFavorite" asp-route-id="@job.Id">
                                                <i class="far fa-heart"></i>
                                            </a>
                                            <a class="btn btn-third" asp-controller="Home" asp-action="AddApply" asp-route-id="@job.Id">Apply Now</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="col-md-12 text-center mt-4">
                            <a class="btn btn-primary" asp-controller="Users" asp-action="BrowseJobs">
                                Browse All Jobs <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="section status_section ">

            <div class="container">
                <h2 class="section_h">JoDice Status</h2>

                <div class="row justify-content-between">
                    <div class="col-auto">
                        <div class="status_box-2">
                            <i class="fas fa-paper-plane"></i>
                            <h3>@Model.PostJobCount</h3>
                            <p>Job Posted.</p>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="status_box-2">
                            <i class="fas fa-vote-yea"></i>
                            <h3>@Model.ApplyCount</h3>
                            <p>Job Filled.</p>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="status_box-2">
                            <i class="fas fa-building"></i>
                            <h3>@Model.CompaniesCount</h3>
                            <p>Companies</p>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="status_box-2">
                            <i class="fas fa-users"></i>
                            <h3>@Model.MembersCount</h3>
                            <p>Members</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="section post_section  ">
            <div class="container">
                <h2 class="section_h">Featured Posts</h2>
                <div class="row">
                    @foreach (var item in Model.Blogs)
                    {
                        <div class="col-md-4">
                            <div class="post_box">
                                <img alt="" src="~/assets/images/Blog/@item.Image" class="img-responsive">
                                <div class="post_content">
                                    <h6>
                                        <a href="blog-single.html">@item.Title</a>
                                    </h6>
                                    <p>@item.FontDescription</p>
                                    <a class="btn btn-secondary btn-rounded" asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">Continue reading</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (Model.Partners.Count() > 0)
        {
            <div class="section  partner_section gray">
                <div class="container">
                    <h2 class="section_h">Our Partners</h2>
                    <ul class="partner_carousel owl-carousel owl-theme">
                        @foreach (Partners partners in Model.Partners)
                        {
                            <li>
                                <a href="#"><img alt="brand logo" src="~/assets/images/Partners/@partners.Image"></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }

    </main>


    <!-- Footer Container
    ================================================== -->
    <footer id="colophon" class="site-footer custom_footer dark_footer">
        <div class="container">
            <div class="row footer_widget">
                <div class="col-md-3">
                    <div class="footer_widget_box">
                        <h2>Job seekers</h2>
                        <ul>
                            <li>
                                <a href="browse-jobs.html">Browse jobs</a>
                            </li>
                            <li>
                                <a href="job-single.html">Job single</a>
                            </li>
                            <li>
                                <a href="my-stared-jobs.html">My stared jobs</a>
                            </li>
                            <li>
                                <a href="edit-profile.html">Update my profile</a>
                            </li>
                            <li>
                                <a href="edit-password.html">Change password</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer_widget_box">
                        <h2>Employers</h2>
                        <ul>
                            <li>
                                <a href="emp-registration.html">Get a FREE Employer Account</a>
                            </li>
                            <li>
                                <a href="post-a-job.html">Post a job</a>
                            </li>
                            <li>
                                <a href="find-staff.html">Find staff</a>
                            </li>
                            <li>
                                <a href="job-dashboard.html">Job dashboard</a>
                            </li>
                            <li>
                                <a href="emp-edit-profile.html">Update profile</a>
                            </li>
                            <li>
                                <a href="emp-edit-password.html">Change password</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer_widget_box">
                        <h2>Community</h2>
                        <ul>
                            <li>
                                <a href="contact-us.html">Help / Contact Us</a>
                            </li>
                            <li>
                                <a href="content-page.html">Guidelines</a>
                            </li>
                            <li>
                                <a href="content-page.html">Terms of Use</a>
                            </li>
                            <li>
                                <a href="content-page.html">Privacy &amp; Cookies </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer_widget_box">
                        <h2>Get In Touch</h2>
                        <ul class="social_list">
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </li>
                        </ul>

                    </div>

                    <div class="footer_widget_box">
                        <form class="newsletter">
                            <h2>Newsletter</h2>
                            <div class="d-flex">

                                <input class="form-control" type="email" placeholder="Enter your email ">
                                <button class="btn btn-primary"><i class="fa fa-paper-plane"></i></button>

                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="footer_widget_box">
                        <p class="copyright-text">
                            © Copyright 2020 by JoDice. All rights reserved.
                        </p>
                    </div>
                </div>
            </div>
            <!-- .site-info -->
        </div>
    </footer>


    <!-- End Footer Container
    ================================================== -->
    <!-- Scripts
    ================================================== -->
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/custom.js"></script>
</body>

</html>
