@model Bio
@{
    Layout = null;
}
<header class="header_01 header_inner">
    <div class="header_main">
        <div class="header_menu fixed-top">
            <div class="container">
                <div class="header_top">
                    <div class="logo">
                        <a asp-controller="Home" asp-action="Index">
                            <img alt="JoDice" class="img-fluid" src="~/assets/images/@Model.Logo">
                        </a>
                    </div>
                    <div class="navigation">
                        <nav>
                            <div class="hamburger hamburger--spring js-hamburger ">
                                <div class="hamburger-box">
                                    <div class="hamburger-inner"></div>
                                </div>
                            </div>
                            <ul>
                                <li class="has-sub-menu current_page">
                                    <a asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="has-sub-menu">
                                    <a asp-controller="Users" asp-action="Index">Profile</a>
                                </li>
                                <li class="has-sub-menu">
                                    <a asp-controller="Blog" asp-action="Index">Blog</a>
                                </li>
                                <li class="has-sub-menu">
                                    <a asp-controller="ContactUs" asp-action="Index">Contact</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="ac_nav after_login_ac_nav">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <!--Not logedin-->
                                <div class="login_pop">
                                    <button class="btn btn-primary">Login / Sign up <i class="fas fa-caret-down"></i></button>
                                    <div class="login_pop_box">
                                        <span class="twobtn_cont">
                                            <a class=" signjs_btn" asp-controller="Account" asp-action="Register">
                                                <span>EMPLOYES</span> Sign up
                                                <i class="far fa-user"></i>
                                            </a>
                                            <a class=" signrs_btn" asp-controller="Account" asp-action="EmployerRegister">
                                                <span>EMPLOYERS</span>
                                                Sign up
                                                <i class="fas fa-landmark"></i>
                                            </a>
                                        </span>
                                        <input type="text" name="lorem" class="d-none" id="resultInput" value="Seeker" />
                                        <div>
                                            <span class="member_btn">Already a member?</span>
                                            <a class="lgin_btn btn btn-primary" asp-controller="Account" asp-action="Login">
                                                Login
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--end logedin-->
                            }
                            else
                            {
                                <!--logedin-->
                                if (ViewBag.User.IsCompany==false)
                                {
                                    <div class="login_pop after_login">
                                        <button class="btn btn-primary withdp">
                                            @if (ViewBag.User.Image != null)
                                            {
                                                <img alt="" src="~/assets/images/Users/@ViewBag.User.Image">
                                            }
                                            else
                                            {
                                                <img alt="" src="~/assets/images/Users/prof.PNG">
                                            }
                                            Hi @ViewBag.User.FullName <i class="fas fa-caret-down"></i>
                                        </button>
                                        <div class="login_pop_box login_pop_box_menu">
                                            <div class="login_pop_box_head">
                                                <div class=" ">
                                                    @if (ViewBag.User.Image != null)
                                                    {
                                                        <img alt="" src="~/assets/images/Users/@ViewBag.User.Image">
                                                    }
                                                    else
                                                    {
                                                        <img alt="" src="~/assets/images/Users/prof.PNG">
                                                    }
                                                    <span>@ViewBag.User.Location</span>
                                                    <h5>@ViewBag.User.FullName</h5>
                                                    <h6>@ViewBag.User.JobType</h6>
                                                </div>
                                            </div>
                                            <ul>
                                                <li>
                                                    <a asp-controller="Users" asp-action="BrowseJobs"><i class="fas fa-search"></i> Browse Jobs </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Users" asp-action="StaredJobs"><i class="fas fa-star"></i> View My Stared Jobs</a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Users" asp-action="UpdateProfile"><i class="fas fa-user"></i> Update My Profile</a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Account" asp-action="Logout"><i class="fas fa-power-off"></i> Logout</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="login_pop after_login">
                                        <button class="btn btn-primary withdp">
                                            @if (ViewBag.User.Image != null)
                                            {
                                                <img alt="" src="~/assets/images/Users/@ViewBag.User.Image">
                                            }
                                            else
                                            {
                                                <img alt="" src="~/assets/images/Users/prof.PNG">
                                            }
                                            @ViewBag.User.CompanyName   <i class="fas fa-caret-down"></i>
                                        </button>
                                        <div class="login_pop_box login_pop_box_menu">
                                            <div class="login_pop_box_head">
                                                <div class=" ">
                                                    @if (ViewBag.User.Image != null)
                                                    {
                                                        <img alt="" src="~/assets/images/Users/@ViewBag.User.Image">
                                                    }
                                                    else
                                                    {
                                                        <img alt="" src="~/assets/images/Users/prof.PNG">
                                                    }
                                                    <span>@ViewBag.User.Location</span>
                                                    <h5>@ViewBag.User.CompanyName</h5>
                                                    <h6>&nbsp;</h6>
                                                </div>
                                            </div>
                                            <ul class="user_navigation">
                                                <li>
                                                    <a asp-controller="Users" asp-action="Index"><i class="fas fa-border-all"></i> Job Dashboard </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Users" asp-action="FindStaff"><i class="fas fa-search"></i> Find Staff </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Users" asp-action="PostJob"><i class="fas fa-paper-plane"></i> Post Job</a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Users" asp-action="MyJobList"><i class="far fa-list-alt"></i> My job listings</a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Users" asp-action="UpdateProfile"><i class="fas fa-user"></i> Update My Profile</a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Users" asp-action="ChangePassword"><i class="fas fa-key"></i>Change Password</a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Account" asp-action="Logout"><i class="fas fa-power-off"></i> Logout</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>