@model IEnumerable<PopularJob>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int Count = 0;
}
<input type="hidden" id="hidden" value="popularjob" />
<div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <a asp-controller="PopularJob" asp-action="Create" class="btn btn bg-success">Create New Job List</a>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                DataCount
                            </th>
                            <th>
                                Settings
                            </th>
                        </tr>
                    </thead>
                    <tbody style="cursor:pointer">
                        @foreach (PopularJob job in Model)
                        {
                            <!-- Popular Job Delete Modal -->
                            <div class="modal fade" id="@job.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">@job.Title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this item?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <a asp-action="Delete" asp-route-id="@job.Id" class="btn btn-primary">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Popular Job Delete Modal -->

                            Count++;
                            <tr>
                                <td>
                                    @Count
                                </td>
                                <td class="py-1">
                                    @if (job.Image != null)
                                    {
                                        <img src="~/assets/images/PopularJobs/@job.Image" alt="image" />
                                    }
                                    else
                                    {
                                        <img src="~/assets/images/Users/prof.PNG" />
                                    }
                                </td>
                                <td>
                                    @job.Title
                                </td>
                                <td>
                                    @job.Description
                                </td>
                                <td>
                                    @job.DataCount
                                </td>
                                <td>
                                    <a asp-action="Update" asp-route-id="@job.Id" class="btn btn-success">
                                        <i class="mdi mdi-settings"></i>
                                    </a>
                                    @{ 
                                        string customId = "#" + job.Id;
                                        string customSecondId = $"#{job.Id}";
                                    }
                                    <a  class="btn btn-danger" data-toggle="modal" data-target=@customId>
                                        <i class="mdi mdi-delete"></i>
                                    </a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>